.footer-area {
    padding: 100px 0;
    background-color: #000000;
    .footer-item {
        color: #fff;
        img {
            width: 150px;
            height: 150px;
        }
        .footer-para {
            margin-top: 20px;
        }
        h4 {
            font-size: 24px;
            color: $bg-color;
        }
        ul {
            li {
                margin: 20px 0;
                a {
                    color: #fff;
                    &:hover {
                        @include transition;
                        color: $gray;
                    }
                }
            }
        }
    }
}