.contact-area {
    .contact-info {
        i {
            font-size: 48px;
            color: red;
            &:hover {
                color: black;
            }
        }
        h5 {
            margin: 20px auto;
            text-transform: capitalize;
        }
        p {
            color: gray;
        }
    }
}

.contact-map {
    iframe {
        display: block;
        width: 100%;
        height: 450px;
    }
}