.contact-info {
    padding: 50px 0;
    .cinfo-table {
        td {
            padding: 30px;
            i {
                font-size: 30px;
                color: $bg-color;
            }
            span {
                color: $bg-color;
                display: block;
                font-size: 36px;
            }
            a {
                color: #000;
                &:hover {
                    color: $gray;
                    @include transition;
                }
            }
        }
    }
}