.research {
    h1 {
        text-align: center;
        text-transform: uppercase;
        color: red;
    }
    p {
        margin-top: 20px;
        font-family: 'Amarante', sans-serif;
        color: #838383;
    }
}