.news_info {
    height: 1000px;
    width: 100%;
    overflow: auto;
    li {
        border-bottom: #e1e6ed 1px solid;
        &:last-child {
            border: none;
        }
        .news-item {
            display: flex;
            padding: 20px 0;
            @include res(m768) {
                display: block;
            }
            img {
                width: 200px;
                height: 200px;
                border-radius: 5px;
                @include res(m768) {
                    width: 100%;
                    height: 100%;
                }
            }
            .news-content {
                margin-top: 5px;
                margin-left: 15px;
                @include res(m768) {
                    margin: 10px 0!important;
                }
                .news-heading {
                    font-size: 20px;
                    font-weight: bold;
                    color: $bg-color;
                    display: block;
                    text-transform: capitalize;
                }
                .news-date {
                    margin: 10px 0;
                    color: $head-color;
                    display: block;
                    text-transform: capitalize;
                }
                .news-para {
                    color: #000;
                }
            }
            &:hover {
                .news-heading {
                    @include transition;
                    color: $gray;
                }
            }
        }
    }
}