.fa-facebook {
    color: #0B84ED;
}

.fa-linkedin-in {
    color: #0073B0;
}

.google-plus {
    color: red;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-pinterest {
    color: #E60023;
}

.fa-youtube {
    color: #E60023;
}

.fa-whatsapp {
    color: green;
}

.fa-viber {
    color: indigo;
}