.header-background {
    background-image: url(../images/background_header.jpg);
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
    height: 700px;
    @include res(m576) {
        height: 500px;
    }
    .h-area {
        display: table;
        width: 100%;
        height: 100%;
        z-index: 9999;
        .h-title {
            display: table-cell;
            text-align: left;
            vertical-align: middle;
            justify-content: center;
            color: $span-color;
            text-transform: uppercase;
            .h-btn {
                padding: 10px 20px;
                position: relative;
                display: block;
                width: 180px;
                text-align: center;
            }
        }
    }
}