* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

#preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99999999;
}

.back_top {
    z-index: 99999;
    text-align: center;
    position: fixed;
    background-color: red;
    color: #fff;
    display: inline;
    width: 40px;
    right: 10px;
    bottom: 10px;
    padding: 10px 0;
}