.custom-section {
    padding: 100px 0;
    position: relative;
    .custom-heading {
        text-align: center;
        text-transform: uppercase;
        p {
            max-width: 800px;
            margin: 0 auto;
        }
    }
}