.header-background {
    background-image: url('../image/h_bg/1.jpg');
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    height: 100%;
    .header-caption {
        display: table;
        width: 100%;
        height: 100%;
        .h-caption-outer {
            display: table-cell;
            vertical-align: middle;
            text-transform: uppercase;
            .header-content {
                padding: 100px 0;
                h1 {
                    color: $head-color;
                    margin-bottom: 50px;
                    font-size: 36px;
                    line-height: 70px;
                    @include res(m768) {
                        font-size: 24px;
                    }
                }
                p {
                    max-width: 500px;
                    line-height: 30px;
                }
                .header_btn {}
            }
        }
    }
}