.blog-section {
    .blog-item {
        border-radius: 5px;
        border: 1px solid $border-color;
        .blog-thumbnail {
            position: relative;
            overflow: hidden;
            img {
                transform-style: preserve-3d;
            }
        }
        .blog-content {
            padding: 20px;
            .blog-body {
                h3 {
                    text-transform: capitalize;
                    color: $bg-color;
                }
                p {
                    margin: 10px 0;
                }
                a {
                    color: $bg-color;
                    &:hover {
                        color: $gray;
                        @include transition;
                    }
                }
            }
            .blog-footer {
                padding: 20px 0;
                a {
                    &.blog-date {
                        font-size: 11px;
                        letter-spacing: 0.5px;
                        text-transform: uppercase;
                        display: inline-block;
                        line-height: 1;
                        position: relative;
                        float: left;
                        color: $head-color;
                    }
                    &.blog-comment {
                        float: right;
                        color: $head-color;
                        text-align: right;
                        font-size: 11px;
                        letter-spacing: 0.5px;
                        text-transform: uppercase;
                        display: inline-block;
                        line-height: 1;
                    }
                    &:hover {
                        color: $gray;
                        @include transition;
                    }
                }
            }
        }
    }
}