.section-background-image {
    background-image: url('../images/Background_header1.jpg');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    width: 100%;
    padding: 100px 0;
    &::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .section-area {
        h2 {
            color: #fff;
            text-transform: capitalize;
        }
        a {
            padding: 15px 20px;
            background: red;
            border: 2px solid black;
            border-radius: 10px;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
            &:hover {
                color: red;
                background: #fff;
                transition: 1s;
            }
        }
    }
}