$header-color: #3c3950;
$span-color: #20232f;
$gray: #838383;
$service-hover:#FCB50A;
$before-color:#53c7d6;
//@at-root
$bg-color:#0072BC;
$head-color:#FCB50A;
$back-color: #f8f8f8;
$border-color: #dee2e6;